
#mobile_header_container {
    opacity: 1;
    width: 500px;
    height: 100px;
}

.mobile_header_body {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 95px;
}

#mobile_header_body {
    opacity: 1;
    fill: #51c83773;
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.ui.basic.button.context_menu {
    opacity: 1;
    margin-top: 15px;
    margin-left: 15px;
    box-shadow: none;
    overflow: visible;
}

.ui.basic.button:hover, .ui.basic.buttons .button:hover{
    background: none!important;
    /*color: rgba(0,0,0,.8)!important;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login {
    opacity: 0.3;
    position: absolute;
    width: 75px;
    height: 32px;
    left: 400px;
    top: 32px;
    overflow: visible;
}

.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 75px;
    height: 32px;
    left: 0px;
    top: 0px;
}

#Rectangle_3 {
    opacity: 1;
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}


#Log_In {
    opacity: 1;
    position: absolute;
    left: 12px;
    top: 6px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

