.main{

}

.grid-column{
    max-width: 550px;
}

.ui.grid.login-form{

}
.ui.grid.login-form{

}

.ui.grid {
     margin-top: initial;
     margin-bottom: initial;
     margin-left: initial;
     margin-right: initial;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 500px) {
    .grid-column{
        max-width: 360px;
    }
}