.main{

}

.grid-column{
    max-width: 550px;
}

.ui.grid.login-form{

}
.ui.grid.login-form{

}

.ui.grid {
     margin-top: initial;
     margin-bottom: initial;
     margin-left: initial;
     margin-right: initial;
}

.tools-header {
    font-weight: 700;
    font-size: 1.28571429rem;
    display: grid;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 500px) {
    .grid-column{
        max-width: 360px;
    }
}