.header{
    width: 100%;
    height: 100px;
}

.header-center{
    max-width: 1400px;
    /*height: auto;*/
    margin: 0 auto;
}

.logo{
    width: 137px;
    float: left;
    margin-top: 18px;
    cursor: pointer;
}